[data-md-color-scheme="pytx2025"] {
    --logo-gray: #959595;
    --logo-light-gray: #b8b8b8;
    --logo-yellow: #ffdd67;
    --dark-yellow: #f7c000;
    --python-dark-blue: #306998;
    --background-color: #ffffff;

    --md-primary-fg-color: var(--background-color);
    --md-default-fg-color: var(--background-color);
    --md-primary-fg-color--light: var(--python-dark-blue);
    --md-default-fg-color--light: var(--python-dark-blue);
    --md-primary-fg-color--dark: var(--dark-yellow);
    --md-default-fg-color--dark: var(--dark-yellow);
    --md-typeset-a-color: var(--python-dark-blue);
    --md-primary-fg-color--transparent: #f7c000;
    --md-primary-bg-color: #000000;
    --md-primary-bg-color--transparent: #f7c000;
    --md-default-bg-color: #1B211C;
    --md-accent-fg-color: #f7c000;
    --md-accent-fg-color--transparent: #f7c000;
    --md-accent-bg-color: #B8B8B8;
}


.md-container {
    background: var(--md-primary-fg-color);
    color: var(--md-primary-bg-color);
}

.md-typeset h1 {
    color: var(--md-primary-bg-color);
    font-size: 2em;
    line-height: 1.3;
    margin: 0 0 1.25em;
}

.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    background: var(--md-primary-fg-color);
    box-shadow: 0 0 .4rem .4rem var(--md-primary-fg-color);
    font-weight: 700;
    margin-top: 0;
    padding: 0 .6rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

.md-nav--secondary .md-nav__title {
    background: unset;
    box-shadow: unset;
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code {
    color: var(--md-primary-fg-color--light);
}

.md-nav__list {
    background-color: var(--md-primary-fg-color) !important;
}


.md-typeset table:not([class]) {
    background-color: var(--md-default-fg-color);
    width: 100%;
}

thead {
    background-color: var(--md-default-fg-color--dark);
    color: var(--md-accent-bg-color);
}

.pytx-container {
    background: var(--md-primary-bg-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    padding-top: .5rem;
}

.pytx-hero {
    margin: 0;
    color: var(--md-primary-bg-color);
    justify-content: center;
}

.pytx-hero__content {
    padding-bottom: 2rem;
    margin: 0 auto;
}

.pytx-hero__image {
    align-self: center;
    order: 0;
    max-height: 25rem;
    padding-bottom: 1rem;
}

.pytx-button {
    border-radius: 6px;
    box-sizing: border-box;
    color: var(--md-primary-bg-color);
    display: inline;
    font-size: 1.1rem;
    margin: 0 0.5rem;
    overflow: hidden;
    padding: 0.5rem;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.pytx-button--primary {
    background-color: var(--dark-yellow);
    color: var(--md-primary-bg-color) !important;
}


.pytx-button:focus,
.pytx-button:hover {
    background-color: var(--python-dark-blue);
    color: var(--md-primary-bg-color);
}

.email-button--primary {
    background-color: var(--dark-yellow);
    border-color: var(--python-dark-blue) !important;
    color: var(--md-primary-bg-color) !important;
}


.md-button:focus,
.md-button:hover {
    background-color: var(--python-dark-blue) !important;
    border-color: var(--md-accent-fg-color) !important;
    color: var(--md-primary-bg-color) !important;
}